{% extends 'padre.html' %}

{% load static %}
{% block bloqueQueCambia1 %}
<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
        <li class="nav-item"><a class="nav-link" href="{% url 'Generos' %}">Generos</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'Desarrolladores' %}">Desarrolladores</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'Plataformas' %}">Plataformas</a></li>
    </ul>
    
</div>
{% endblock bloqueQueCambia1 %}

{% block bloqueQueCambia %}



    <header class="bg-dark py-3">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Juegos</h1>
                <p class="lead fw-normal text-white-50 mb-0">With this shop hompeage template</p>
            </div>
        </div>
    </header>
    <ul>
        
        {% for juego in juegos %}
            <li>{{juego.nombre}} ({{juego.anodecreacion}}) de {{juego.desarrollador}} del género: {{juego.genero}}.</li>
        {% endfor %}
            
    </ul>
    <body>
        
    </body>
{% endblock bloqueQueCambia %}

